#phoneInput, #nameInput {
	margin: 2px;
}
.header{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: solid; 
  height: 100px;
}

.content { 
  text-align: left;
  font-weight: bold; 
  margin: auto;
  height: 100px;
}

.inner-content{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  position: relative; 
  top: 50%;
  margin-top: -35px;
}

.inner-contentbutton{
 position: relative; 
  top: 50%;
  margin-top: -13px;
}
