.login-logo {
	margin-top: 110px;
	margin-bottom: 10px;
	height: 299px; 
}

.login-content { 
  text-align: center;
  margin-bottom: 10px; 
}

.loginButton-content { 
  text-align: center;
  margin-top: 25px; 
  margin-bottom: 10px; 
}

.wallpapers{
	width: 746px;
	height: 800px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
	background-image: url('homescreen-narrow.png');
	background-size: 100% 100%;
}

.wallpaperb{
	width: 1280px;
	height: 800px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
	background-image: url('homescreen-wide.png');
	background-size: 100% 100%;
}

.content-header{
    background-image: url('menuheader-04.png');
	height: 15%;
	width: 100%;
	background-color: #FFFFFF; 
}

footer {
	position: fixed;
	bottom: 0; 
	height: 15%;
	width: 100%;
	background-color: #FFFFFF; 
	z-index: 100;
    border-top:solid; 
	border-color:grey; 
}

footer button{
	background-color: #FFFFFF;
	border: none;
	color: black; 
	text-transform: uppercase;
	font-weight: bold;
}

.header{ 
  padding-top: 30px;  
  text-transform: uppercase;
  font-family: 'Univers LT W01 45 Light';
  height: 75px;
  background-image: url('menuheader-04.png');
  background-size: 289px 100px;
}

::-webkit-input-placeholder {
	font-size: 11px; 
	margin-top: 50%; 
	line-height: 20px; 
    vertical-align: middle;
}


.content { 
  text-align: center;
  margin: auto;
  height: 100px;
}

.content2 { 
  text-align: left;
  margin: auto;
  height: 30px;
}

.content3 { 
  text-align: left;
  margin: auto;
  height: 100px;
}


.content-btn { 
  margin: auto;
  height: 100%;
}

.content-title {
  font-weight: bold; 
  text-transform: uppercase;
  font-family: "Arial", Helvetica, sans-serif;
}

.inner-content{
  font-family: "Arial", Helvetica, sans-serif;
  position: relative; 
  top: 50%;
  margin-top: -35px;
}

.inner-contentbutton{
  position: relative; 
  top: 50%;
  margin-top: -13px;
}

#menu { 
	z-index: 10; 
	position: absolute;
	background-color: #FFFFFF; 
	height: 500px;
	width: 230px; 
	top: 0px; 
	left: -230px; 
	transition: all 1s; 
}

#menu.active {
	left: 0px; 
}

.menu-toggle{
	height: 100px; 
	width: 50px; 
	position: absolute; 
	right: -50px; 
}

.inner-menubutton input[type="button"]{
	width: 100%; 
	margin: 0; 
	height: 60px; 
	text-transform: none;
	border-radius: 0px; 
	font-size: 18px;
	 background-color: #00acc8;
}
/*
button {
  margin-top: 10px;
  background-color: #bfbfbf;
  color: #FFF;
  font-size: 12px;
  padding: 1px 30px 0 30px;
  height: 30px;
  line-height: 31px;
  border: 0;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  clear: both;
  font-family: "Arial", Helvetica, sans-serif; 
}
*/
button:hover {
  background-color: #00acc8;
}


.inner-menubutton input[type="button"]:hover {
  background-color:  #bfbfbf;
}

.swipe {
	overflow: hidden;
	visibility: hidden; 
	position: relative; 
}

.swipe-wrap {
	overflow: hidden;
	position: relative; 
}

.swipe-wrap > div{
	float:left;
	width:100%;
	position: relative; 
}

.main-btn{
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

#slider1{
	height: 100%; 
}

#slider2{
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}





















