<div class="navbar">
	<form style="width: 150px;" ng-submit="back();">
		<button type="submit">HOME</button>
	</form>

	<form style="width: 150px;" ng-submit="goUsers();">
		<button type="submit">USERS</button>
	</form>
</div>
<br/>

<span class="col-lg-12">
<div ng-repeat="date in apptArray">
	<div class="singleAppt col-sm-6 col-md-4 col-lg-4" ng-repeat="time in date" >
		<br/>
		<b>{{time.date}} | {{time.time}}</b><br/>
		Name: {{time.name}}<br/>
		Phone: {{time.phone}}<br/>
		Email: {{time.email}}<br/>
		Party Size: {{time.partySize}}</br>
		<button style="margin:2px 30px;" type="submit" ng-click="remove(time)">Cancel</button>
	</div>
</div>
</span>
