<!DOCTYPE HTML>
<html ng-app="loginapp">

<head>
	<title>User Login</title>
	<!-- Bootstrap CDN -->
  	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
	<!-- Custom stylesheet -->
  	<link rel="stylesheet" href="../css/style.css" />
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- jQuery plugin -->
	<script src="../js/jquerycookies/jquery.cookie.js"></script>
	<!-- Firebase Simple Login -->
	<script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
</head>

<body ng-controller="userController">
	<form id="user" ng-submit="login();">
		<input type="text" id="nameInput" placeholder="Name" ng-model="nameInput" />
		<input type="text" id="phoneInput" placeholder="Phone #" ng-model="phoneInput"/>

		<div >
            <input type="checkbox" id="remember" checked="true" />
            <label for="remember">Remember me?</label>
        </div>

		<button type="submit" id="submit">Login</button> 
	</form>

	<!-- Angular CDN -->
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  	<!-- Firebase CDN -->
  	<script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
  	<!-- AngularFire CDN -->
  	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
	<!-- Custom JS -->
	<script type="text/javascript" src="userapp.js"></script>
</body>

</html>
